html, body {
    height: 98%;
    font-family: sans-serif;
}

.container {
    height: 98%;
    text-align: center;
    /* background-color: rgba(255, 255, 128, .5); */
}

.main-form {
    display: inline-block;
    margin-top: 40%;
    width: 300px;
    height: auto;
    /* background-color: rgba(79, 81, 197, 0.5) */
}

.title-text {
    font-family: sans-serif;
    font-size: 25px;
}

.form-name {
    display: inline-block;
    width: 80px;
    text-align: center;
    font-size: 13px;
    padding-right: 10px;
    /* background-color: rgba(173, 90, 11, 0.5) */
}

.form-design {
    width: 100px;
}

.error-message {
    font-size: 10px;
    color: crimson;
}